# Entorno de Producción - ShipNow API
PORT=3000
NODE_ENV=production
MONGO_URI=mongodb://mongo:27017/shipnow_prod
SALT_ROUNDS=12
JWT_SECRET=super_secret_production_key_change_me!
JWT_EXPIRES_IN=4h
LOG_LEVEL=info
ENABLE_INTERNAL_ENDPOINTS=false
CLIENT_URL=http://localhost:3000
